.contianer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.flex-item {
  flex: 1;
  text-align: center;
  /*background: tomato;*/
  /*padding: 5px;*/
  /*width: 200px;*/
  /*height: 150px;*/
  /*margin-top: 10px;*/
}

.left {
  background-color: white;
}

.right {
  background-color: green;
}

