.contianer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.flex-item {
  flex: 1;
  text-align: center;
}

.left {
  background-color: white;
  float: left;
  width: 25%;
  margin-top: ;
}

.right {
  background-color: green;
}

