.contianer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-item {
  flex: 1;
  text-align: center;
}

.left {
  background-color: white;
  float: left;
  width: 75%;
  margin-top: 6px;
}

.right {
  background-color: green;
  float: right;
  width: 25%;
  margin-top: 6px;
}

input[type=text] {
    background-color: #D3D3D3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

